### Оглавление
1. [Задача 1](#task1)
2. [Задача 2](#task2)
3. [Задача 3](#task3)
4. [Задача 4](#task4)

## Задача 1
<a id='task1'></a>
Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:

The Moscow Times - Wednesday, October 2, 2002

The Guardian - Friday, 11.10.13

Daily News - Thursday, 18 August 1977

In [7]:
from datetime import datetime
print ('The Moscow Times')
datetime.strptime('Wednesday, October 2, 2002', '%A, %B %d, %Y')

The Moscow Times

datetime.datetime(2002, 10, 2, 0, 0)

In [7]:
print ('The Guardian')
date = datetime.strptime('Friday, 11.10.13', '%A, %d.%m.%y')
date.weekday()

The Guardian

4

In [9]:
print ('Daily News')
datetime.strptime('Thursday, 18 August 1977', '%A, %d %B %Y')

Daily News

datetime.datetime(1977, 8, 18, 0, 0)

## Задача 2
<a id='task2'></a>
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [9]:
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
def date_check(list_dates):
    for date in list_dates: 
        try:
            valid_date = datetime.strptime(date, '%Y-%m-%d')
            print (True)
        except ValueError:
            print (False)   
date_check(stream)

True
False
False

## Задача 3
<a id='task3'></a>
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [15]:
# Вариант с просто выводом чисел, следующей вариант именно со списком
from datetime import timedelta
def date_range():
    start_date = input('Введите дату начала в формате YYYY-MM-DD: ')
    end_date = input('Введите дату конца в формате YYYY-MM-DD: ')
    start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')
    if start_date_dt < end_date_dt:
        while start_date_dt <= end_date_dt:
            print(start_date_dt.strftime('%Y-%m-%d'))
            start_date_dt += timedelta(days=1)
            
date_range()

Введите дату начала в формате YYYY-MM-DD: 2018-04-12
Введите дату конца в формате YYYY-MM-DD: 2018-04-20
2018-04-12
2018-04-13
2018-04-14
2018-04-15
2018-04-16
2018-04-17
2018-04-18
2018-04-19
2018-04-20

### Поправленный вариант, выводит пустой список при неправильном вводе

In [2]:
# Вариант со списком
from datetime import timedelta
def date_range_2():
    list_dates = []
    try: 
        start_date = input('Введите дату начала в формате YYYY-MM-DD: ')
        end_date = input('Введите дату конца в формате YYYY-MM-DD: ')
        start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
        end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')
        if start_date_dt < end_date_dt:
            while start_date_dt <= end_date_dt:
                start_date_dt += timedelta(days=1)
                list_dates.append(start_date_dt)
        return list_dates
    except: 
        print (list_dates)
    
date_range_2()

Введите дату начала в формате YYYY-MM-DD: 32424242
Введите дату конца в формате YYYY-MM-DD: 234224
[]

## Задача 4
<a id='task4'></a>
Задание:

Что значит ошибка list index out of range?
Почему при первом запуске функция работает корректно, а при втором - нет?

In [20]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['100', 'A101', 'A102']):
    element_to_delete = default_list[-1]
    default_list.remove(element_to_delete)
    return default_list[DEFAULT_USER_COUNT-2]
delete_and_return_last_user(1)

# Может быть потому, что DEFAULT_USER_COUNT-2. Из-за -2, т.к. изначально значение 3? и со второй попытки мы в минус уходим?  
#

NameError: name 'default_list' is not defined